<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 设置使用注解的类所在的jar包 -->
	<context:component-scan base-package="EarlyToSchool.Controller"></context:component-scan>
	<!-- 启用spring mvc 注解 -->
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<!-- 静态资源指定 -->
	<mvc:resources mapping="/assets/**" location="/assets/" />

	<!-- <mvc:resources mapping="/styles/**" location="/resources/css/"/> <mvc:resources 
		mapping="/images/**" location="/resources/images/"/> -->
	<mvc:default-servlet-handler />

	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/home/"></property>
		<property name="suffix" value=".html"></property>
	</bean>
</beans>