<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>EarlyToSchool</display-name>
	<servlet>
		<servlet-name>EarlyToSchool</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 数据库连接字符串 -->
		<init-param>
			<param-name>ConfigLocationHost</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>ConfigLocationPort</param-name>
			<param-value>27017</param-value>
		</init-param>
		<init-param>
			<param-name>DatabaseName</param-name>
			<param-value>EarlyToSchoolDB</param-value>
		</init-param>
		<!-- 配置SpringMVC -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>EarlyToSchool</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>	
</web-app>
